$WHITE_COLOR: #fff;

$html-font-size : 10px;

$main-font : GothamRounded;
$main-background-color: #efefef;

$widgets-background-color: #fff;
$widgets-nav-color: #526e82;
$widgets-border-color: #e2e2e2;
$widgets-nav-pseudo-color: #3b5060;
$widgets-additional-color: #4cd9c0;
$widgets-active-elements-color: #ff8989;

$calendar-font-color: #9d9d9d;

$slider-dots-color: #05aeb3;

$message-details-color: #c8d2d9;
$interlocutor-color: #bac2c7;
$offline-user-indicator-color: #ec747d;
$online-user-indicator-color: #5cdcc6;
$not-delevired-message-indicator-color: #ff688f;

$sign-up-button-color: #627d90;
$input-font-color: #bebebe;

$song-name-color: #d6d6d6;
$band-name-color: #a8a8a8;
$song-indicator-progress: #efefef;
